* {
    box-sizing: border-box;
    
    margin: 0;
    padding: 0;
}

body {
    background: #1a1a1a;
    color: #fafafa;
    
    display: grid;
    place-items: center;
    
    width: 100vw;
    height: 100vh;
    
    .container {
        position: relative;
        
        display: grid;
        place-items: center;
        
        width: 500px;
        height: 500px;
        
        .logo {
            position: absolute;
            
            top: 170px;
            
            .tag {
                position: absolute;
                
                padding-left: 30px;
                
                font-family: "Shabnam", sans-serif;
                font-size: 108px;
                font-weight: 900;
                
                letter-spacing: -7px;
                
                transform-origin: left;
                
                @for $i from 0 to 4 + 1 {
                    &:nth-child( #{$i + 1} ) {
                        transform: rotate(#{-90 + $i * 72 }deg);
                    }
                }
            }
        }
    }
}
