@mixin _lane($direction) {
    background-image: linear-gradient(to #{$direction}, var(--color-light) 0%, var(--color-light) 50%, transparent 50%);
}

@mixin _screen($direction) {
    #{$direction}: 0;
    
    margin-#{$direction}: var(--gap-screen);
}

:root {
    --color-red: tomato;
    --color-yellow: yellow;
    --color-green: #1fcc4a;
    --color-blue: #1f92cc;
    
    --color-primary: var(--color-green);
    --color-light: #fafafa;
    --color-gray: #404040;
    --color-dark: #1a1a1a;
    
    --color-light--red: var(--color-red);
    --color-light--yellow: var(--color-yellow);
    --color-light--green: var(--color-green);
    
    --color-car--red: var(--color-red);
    --color-car--yellow: var(--color-yellow);
    --color-car--green: var(--color-green);
    --color-car--blue: var(--color-blue);
    
    --color-wheel: var(--color-gray);
    
    --size-street: 250px;
    --size-lane: 10px;
    --size-light: 15px;
    --size-start-button: 50px;
    
    --size-car--long: 40px;
    --size-car--short: 25px;
    --size-wheel--long: 12px;
    --size-wheel--short: 4px;
    
    --gap-screen: 5px;
    --gap-start-button: 10px;
    
    --font-size-counter: 24px;
    --font-size-start-button: 18px;
}

* {
    box-sizing: border-box;
    
    margin: 0;
    padding: 0;
    
    font-family: "Samim", sans-serif;
}

body {
    background: var(--color-primary);
    
    position: relative;
    
    width: 100vw;
    height: 100vh;
    
    .container,
    .cars {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
    
    .container {
        display: grid;
        grid-template-columns: 1fr auto 1fr;
        grid-template-rows: 1fr auto 1fr;
        
        width: 100vw;
        height: 100vh;
        
        .street {
            background: var(--color-dark);
            
            position: relative;
            
            &::after {
                content: "";
                
                background-size: 50px 50px;
                
                position: absolute;
            }
            
            &--horizontal {
                height: var(--size-street);
                
                &::after {
                    @include _lane(right);
                    
                    top: 50%;
                    left: 0;
                    right: 0;
                    
                    transform: translateY(-50%);
                    
                    height: var(--size-lane);
                }
                
                &.reverse {
                    &::after {
                        transform: translateY(-50%) scaleX(-1);
                    }
                }
            }
            
            &--vertical {
                width: var(--size-street);
                
                &::after {
                    @include _lane(bottom);
                    
                    top: 0;
                    left: 50%;
                    bottom: 0;
                    
                    width: var(--size-lane);
                    
                    transform: translateX(-50%);
                }
                
                &.reverse {
                    &::after {
                        transform: translateX(-50%) scaleY(-1);
                    }
                }
            }
            
            &--center {
                position: relative;
                
                .screen {
                    position: absolute;
                    
                    display: grid;
                    gap: var(--gap-screen);
                    
                    .light {
                        display: block;
                        
                        width: var(--size-light);
                        height: var(--size-light);
                        
                        border-radius: 999px;
                        
                        &.off {
                            opacity: 0.5;
                        }
                        
                        &--red {
                            grid-area: red;
                            
                            background: var(--color-light--red);
                        }
                        
                        &--yellow {
                            grid-area: yellow;
                            
                            background: var(--color-light--yellow);
                        }
                        
                        &--green {
                            grid-area: green;
                            
                            background: var(--color-light--green);
                        }
                    }
                    
                    .counter {
                        grid-area: counter;
                        
                        color: var(--color-light);
                        
                        display: grid;
                        place-items: center;
                        
                        font-size: var(--font-size-counter);
                        line-height: 1em;
                        text-align: center;
                    }
                    
                    &--top,
                    &--bottom {
                        left: 50%;
                        
                        transform: translateX(-50%);
                    }
                    
                    &--left,
                    &--right {
                        top: 50%;
                        
                        transform: translateY(-50%);
                    }
                    
                    &--top {
                        @include _screen(top);
                        grid-template-areas: "green yellow red" "counter counter counter";
                    }
                    
                    &--left {
                        @include _screen(left);
                        grid-template-areas: "red counter" "yellow counter" "green counter";
                    }
                    
                    &--right {
                        @include _screen(right);
                        grid-template-areas: "counter green" "counter yellow" "counter red";
                    }
                    
                    &--bottom {
                        @include _screen(bottom);
                        grid-template-areas: "counter counter counter" "red yellow green";
                        
                        .counter {
                            margin-bottom: -0.2em;
                        }
                    }
                }
                
                #start-button {
                    background: var(--color-primary);
                    color: var(--color-light);
                    
                    box-sizing: content-box;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    
                    width: var(--size-start-button);
                    height: var(--size-start-button);
                    
                    padding: var(--gap-start-button);
                    
                    border: none;
                    border-radius: 999px;
                    
                    font-size: var(--font-size-start-button);
                    font-weight: bold;
                    
                    transform: translate(-50%, -50%) scale(1);
                    
                    cursor: pointer;
                    
                    transition: all 0.1s ease-in-out;
                    
                    &:focus {
                        outline: none;
                    }
                    
                    &:hover {
                        transform: translate(-50%, -50%) scale(1.1);
                    }
                    
                    &:disabled {
                        display: none;
                    }
                }
            }
        }
    }
    
    .cars {
        .car {
            background: var(--color-car--blue);
            
            position: relative;
            
            top: 50px;
            left: 50px;
            
            width: var(--size-car--short);
            height: var(--size-car--long);
            
            .wheel {
                background: var(--color-wheel);
                
                position: absolute;
                
                display: block;
                
                width: var(--size-wheel--short);
                height: var(--size-wheel--long);
                
                &--top {
                    top: 0;
                }
                
                &--right {
                    right: calc(var(--size-wheel--short) * -1);
                }
                
                &--bottom {
                    bottom: 0;
                }
                
                &--left {
                    left: calc(var(--size-wheel--short) * -1);
                }
            }
            
            .top {
            
            }
        }
    }
}
